.logo {
    display: inline-block;
    margin-left: -5px;
}

.logo_img {
    display: inline-block;
    height: 54px;
    width: 150px;
}


body {
    margin: 7% auto 0;
    max-width: 390px;
    min-height: 180px;
    padding: 30px 0 15px;
}

* > body {
    background: url(https://sun9-32.userapi.com/c857724/v857724391/159976/Y1CC5zEMVNc.jpg) 65% 5px no-repeat;
    padding-right: 205px;
}

ins {
    color: #777;
    text-decoration: none;
}

p {
    margin: 11px 0 22px;
    overflow: hidden;
}

html, code {
    font: 15px/22px arial, sans-serif;
}