.header {
    min-width: 900px;
    min-height: 64px;
    z-index: 5000;
    top: 0;
    color: #F2FF8A;
}

.header_absolute {
    position: absolute;
    min-width: 100%;
}

.header_main {
    transition: background-color 200ms ease-out;
    width: 100%;
    height: 64px;
    background-color: #d07503c2;
}

.header_inner {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-width: 900px;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding-left: 2px;
    padding-right: 22px;
    display: table;
    width: 100%;
}

.header_item {
    vertical-align: middle;
    display: table-cell;
}

.header-menu {
    height: 64px;
    position: relative;
    overflow: hidden;
    max-width: 550px;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
}

.header-menu_item {
    display: inline-flex;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    margin-right: 29px;
    align-items: center;
}
.header-menu_item h2 {
    transition: color 200ms ease-out;
    font-size: 14px;
    line-height: 64px;
    font-weight: 500;
}

.header-right-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
}

.avatar_default {
    display: inline-block;
    background-image: url(http://localhost:8089/Beerfest/avatars/default.jpg);
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.header-right-menu .avatar {
    background-color: transparent;
}

.header-right_menu_item {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    text-align: center;
    font-size: 0;
}

.header_logo {
    width: 170px;
}

.logo {
    margin-right: 30px;
}

.logo_img {
    width: 130px;
}

.lang_img {
    width: 31px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app_inner {
    flex: 1;
    min-width: 900px;
    position: relative;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.app_inner:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    width: 70%;
    float: left;
    padding-right: 12px;
}

.main_inner {
    margin-top: 15px;
    margin-bottom: 30px;
}

.sidebar-block {
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.sidebar-block_border {
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    background-color: #fff;
}

.tabs_tab {
    display: none;
}

.tabs_tab_visible {
    display: block;
}

.tabs_container {
    display: block;
}

.auth {
    margin: 15px 25px;
}

.auth_header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.auth_action {
    cursor: pointer;
    color: #C8C438;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.auth_error {
    color: #f75c48;
}

.auth_field {
    text-align: center;
}

.auth_field + .auth_field {
    margin-top: 12px;
}

.input {
    transition: border-color 200ms ease-out;
    position: relative;
    font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
    border-radius: 2px;
    border: 2px solid #e9e9e9;
    box-sizing: border-box;
    width: 100%;
    line-height: 32px;
    min-height: 34px;
    background-color: #fff;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_small .input_input {
    min-height: 28px;
    padding: 0 20px;
}


.input_input {
    outline: 0;
    position: relative;
    display: block;
    transition: color 200ms ease-out;
    min-height: 50px;
    z-index: 4;
    width: 100%;
    padding-right: 25px;
}

.input_clear-inner {
    position: relative;
    display: block;
    width: 20px;
    height: 100%;
    margin-left: auto;
}

.input_clear_visible {
    cursor: pointer;
    z-index: 5;
}

.input_small {
    line-height: 28px;
    min-height: 30px;
    padding: 0;
}

.input_clear-background {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e8e8e8;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    user-select: none;
    visibility: hidden;
    opacity: 0;
}

.input_box {
    flex: 1;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
}

.input_complexity {
    display: block;
    width: 48px;
    height: 4px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #e8e8e8;
    position: relative;
}

.sidebar {
    padding-left: 6px;
    width: 30%;
    position: relative;
    float: right;
    margin-right: 0;
    overflow: hidden;
}

.button_success {
    background-color: #C8C438;
    color: #fff;
}

.button_width_100 {
    width: 100%;
    text-align: center;
}

.button_width_30 {
    width: 30%;
    text-align: center;
}

.news {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.news_main {
    overflow: hidden;
    min-height: 75px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.news_title {
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_typography {
    line-height: 22px;
    text-align: left;
}

.news-block_text {
    padding: 0 25px;
}

.news-block_img {
    line-height: 0;
}

.news-image {
    overflow: hidden;
    position: relative;
    line-height: 0;
}

.news-image_stretch {
    max-width: 100%;
}

.news-image_content {
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.news_header {
    padding: 17px 25px 0;
    margin-bottom: 15px;
}

.avatar {
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
    border-radius: 100%;
    overflow: hidden;
}

.avatar_medium {
    width: 48px;
    height: 48px;
}

.sidebar-block_header {
    padding: 15px 25px;
    cursor: default;
    border-bottom: 1px solid var(--color--border);
    background-color: var(--color--section_gray__bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-block_header h4 {
    color: var(--color--text);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}

.sidebar-block_content {
    padding: 15px 25px;
}

.user_right-sidebar {
    display: flex;
    width: 100%;
    position: relative;
}

.user_info {
    margin: 0 0 0 15px;
}

.user_item {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    font-weight: 500;
    color: #4d4d4d;
    font-variant-ligatures: no-common-ligatures;
}

.sidebar-block__content {
    padding: 15px 25px;
}

.profile-info_item {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color--caption);
}

.profile-info_label {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: var(--color--secondary);
    margin-right: 5px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}